{% extends 'masters_app/base.html' %}
{%  load static %}

{% block content %}
<form method="post" name="contact-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    <!-- Wallpaper -->
    <div
        class="bg-image text-center"
        style="
          background-image: url({{ page.background.url}});
          background-attachment: fixed;
          min-height: 100vh;
        "
    >
        <div class = "container text-center mt-5">
        {{ form.background }}
        </div>
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="text-light ">
                <div class = "row">
                    <div class = "align-items-center col-lg-12" style="width: 450px">
                        <h1>Привіт, мене звати</h1>
                    </div>
                    <div class = "w-25 col-lg-6">
                        <div class = "form-outline mb-4" style="max-width: 350px">
                            {{ form.firstname }}
                        </div>
                    </div>
                    <div class = "w-25 col-lg-6">
                        <div class = "form-outline mb-4" style="max-width: 350px">
                            {{ form.lastname }}
                        </div>
                    </div>
                </div>
                <div class="form-error">{{ form.firstname.errors }}</div>
                <div class="form-error">{{ form.lastname.errors }}</div>
            </div>
        </div>
    </div>
    <!-- Block about -->
    <div class="container-md mt-4">
        <div class="row mt-5">
            <div class="col-lg-4 col-md-12 text-center">
                <p>
                    <img src="{{ page.user_photo.url }}"
                         style="max-height: 300px "
                         class="rounded-circle"
                         alt="user-photo"
                    >
                    {{ form.user_photo }}
                </p>
                <p>
                    <label class="me-2">{{ form.city.label }}</label>
                    {{ form.city }}
                </p>
                <p>
                    <label class="me-2">{{ form.category.label }}</label>
                    {{ form.category }}
                </p>
                <button type="submit" class="btn btn-primary text-light logo" >
                    Зберегти
                </button>
            </div>
            <div class="col-lg-8 col-md-12">
            <p class="text-xl-center">{{ form.about }}</p>
            </div>
        </div>
        <hr class="hr mt-xxl-5" />
    </div>
</form>
{% endblock content %}