{% extends 'masters_app/base.html' %}
{% load static %}

{% block content %}
<div
    class="p-5 bg-image text-center"
    style="
      background-image: url({{ page.background.url}});
      background-attachment: fixed;
      min-height: 100vh;
    "
>
    <!-- Works -->
    <div class = 'row container mt-2 mx-auto gx-5 gy-5'>
    {% for album in page_obj %}
        <div class = "col-xl-4">
            <!-- Card -->
            <div class="card" style = "max-height: 500px; max-width: 400px;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img alt="album-header"
                     src="{{ album.main_picture.url }}"
                     class="img-fluid"
                     style="max-width: 400px;"
                />
                <a href="{% url 'album' page.slug album.pk %}">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ album.name }}</h5>
                <hr class="hr-blurry">
                <p class="card-text">{{ album.description }}</p>
                <a href="{% url 'album' page.slug album.pk %}" class="btn btn-primary">Переглянути</a>
                {% if request.user == page.user %}
                    <a href="{% url 'album-edit' page.slug album.pk %}" class="btn btn-success">
                        Змінити <i class="far fa-edit text-light"></i>
                    </a>
                {% endif %}
              </div>
            </div>
            <!-- Card -->
        </div>
    {% endfor %}
    <a class="btn btn-success" href="{% url 'album-add' page.slug %}">Додати</a>
    </div>
    <!-- Works -->
    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation">
          <ul class="pagination  justify-content-center mt-5 align-items-end">
            {% if page_obj.has_previous %}
            <li class="page-item mx-1">
                <a class="page-link text-light pagination-link"  href="?page={{ page_obj.previous_page_number }}">Попередня</a>
            </li>
            {%  else %}
                <li class="page-item mx-1">
                  <p class="page-link text-light pagination-link m-0 bg-dark bg-opacity-75">Попередня</p>
                </li>
            {% endif %}
            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-item mx-1">
                        <p class="page-link text-light pagination-link-active m-0 border border-light" href="?page={{ p }}">{{ p }}</p>
                    </li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                    <li class="page-item mx-1">
                        <a class="page-link text-light pagination-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item mx-1">
                  <a class="page-link text-light pagination-link" href="?page={{ page_obj.next_page_number }}">Наступна</a>
              </li>
            {% else %}
                <li class="page-item mx-1">
                  <p class="page-link text-light pagination-link m-0 bg-dark bg-opacity-75">Наступна</p>
                </li>
            {% endif %}
          </ul>
        </nav>
    {% endif %}
    <!-- Pagination -->
</div>
{% endblock content %}

{%  block footer %}
<!-- Footer -->
<footer class="bg-transparent text-center text-white fixed-bottom" id="#contacts">
  <!-- Grid container -->
    <div class="container p-4 pb-0">
    <!-- Section: Social media -->
        <section class="mb-4">
        {% for l in links %}
            <!-- Personal link -->
            <a
            class="btn btn-lg btn-outline-light btn-floating m-2 logo"
            href="{{ l.url }}"
            role="button"
            ><i class="{{ l.link_type.css_class }}"></i
          ></a>
        {% endfor %}
        </section>
    <!-- Section: Social media -->
    </div>
  <!-- Grid container -->
  <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Created by
        <a class="text-white" href="https://github.com/Kankitsuuu">Kankitsuuu</a>
    </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
{%  endblock footer %}