{%  extends 'masters_app/base.html' %}
{% load masters_tags %}
{%  load static %}

{% block content %}
<div
class="p-5 bg-image text-center"
style="
  background-image: url({{ work.album.page.background.url}});
  background-attachment: fixed;
  min-height: 85vh;
"
>
    <!-- Custom Work -->
    <div class = "container mx-auto w-50">
        <div class="bg-transparent mx-auto rounded-6" style="position: relative;">
            <div class="bg-image py-5 rounded-top border-bottom border-3" style="height: 580px;">
            <img alt="work-photo"
                 src="{{  work.photo.url }}"
                 style="object-fit: contain; height: 100%; width: 100%;"
            >
            </div>
            <!-- Close button -->
            <div class="d-flex justify-content-end" style="position: absolute; top: 0; width: 100%">
                <a class="btn btn-dark py-2 px-3 border border-1 photo-close-btn link-icon"
                   href="{% url 'album' title.pk %}"
                   aria-label="Close"
                >
                    <i class="fas fa-times fs-6"></i>
                </a>
            </div>
            <!-- End close button -->
            <!-- Prev-Next btns-->
            <div class="d-flex align-items-center" style="position: absolute; margin-top:35px; top:0; height: 100%; width: 100%">
                {% if prev_work %}
                    <div class="px-4 d-flex justify-content-start"
                         style="position: relative;
                                height: 100%;
                                align-items: center;
                                width: 100%;"
                    >
                        <a class="btn btn-dark rounded-6 border border-2 border-light btn-sm link-icon"
                           style="margin-bottom: 70px;"
                           href="{% url 'work' prev_work %}"
                        >
                            <i class="fas fa-angle-left fs-2 custom-control"></i>
                        </a>
                    </div>
                {% endif %}
                {%  if next_work %}
                    <div class="px-4 d-flex justify-content-end"
                         style="position: relative;
                                height: 100%;
                                align-items: center;
                                width: 100%;"
                    >
                        <a class="btn btn-dark rounded-6 border border-2 border-light btn-sm link-icon"
                           style="margin-bottom: 36px;"
                           href="{% url 'work' next_work %}"
                        >
                            <i class="fas fa-angle-right fs-2 custom-control"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
            <!--End Prev-Next btns-->
             <div class="text-light rounded-6 py-4">
                 <p class="mt-2 mb-0">{{ work.description }}</p>
            </div>
        </div>
    </div>
    <!-- End Custom Work -->
</div>
{% endblock content %}

{%  block footer %}
    {%  link_footer page %}
{%  endblock footer %}