{% extends 'masters_app/base.html' %}
{%  load static %}

{% block content %}
<div
    class="p-5 bg-image text-center"
    style="
      background-image: url({{ page.background.url}});
      background-attachment: fixed;
      min-height: 100vh;
    "
>

    <div class="container mx-auto w-50">
        <div class="card m-auto" style="max-width: 700px;">
            <div class="card-header p-0">
            {% if mark == 'edit' %}
                <div class="d-flex">
                    <div style="position: relative; width: 100%; text-align: center;" >
                        <h3 class="pt-1" style="margin-left: 45px;">Змінити роботу</h3>
                    </div>
                    <div style="position: relative;">
                        <a class="btn btn-dark py-2 px-3 border-start border-bottom border-1 photo-close-btn link-icon"
                           href="{% url 'album' album.pk %}"
                           aria-label="Close"
                           style="position: relative;"
                        >
                        <i class="fas fa-times fs-6"></i>
                        </a>
                    </div>
                </div>
                <hr class="hr hr-blurry my-1">
                    <div class = "bg-image mx-3"
                         style="background-image: url({{ form.photo.value.url }});
                                height: 300px"
                    >
                    </div>
            {% else %}
                <div class="d-flex justify-content-center">
                    <div style="position: relative; width: 100%; text-align: center;" >
                        <h3 style="margin-left: 45px;">Додати роботу</h3>
                    </div>
                    <div style="position: relative;">
                        <a class="btn btn-dark py-2 px-3 border-start border-bottom border-1 photo-close-btn link-icon"
                           href="{% url 'album' album.pk %}"
                           aria-label="Close"
                           style="position: relative;"
                        >
                            <i class="fas fa-times fs-6"></i>
                        </a>
                    </div>
                </div>
            {%  endif %}
            </div>
            <div class="card-body">
            <form method="post" name="work-constructor-form" enctype="multipart/form-data">
                {% csrf_token %}
                <p>
                    <!-- Custom File Input -->
                    <label class="form-label text-white m-1 " for="customFile" style="text-align: justify-all;">
                        <span class="btn btn-primary btn-rounded">
                            Завантажити фото <i class="fas fa-arrow-alt-circle-up"></i>
                        </span>
                    </label>
                    <input type="file" class="form-control d-none" id="customFile" name="photo"/>
                    <!-- End Custom File Input -->
                </p>
                <p>{{ form.description }}</p>
                <button type="submit" class="btn btn-primary">Зберегти</button>
                {% if mark == 'edit' %}
                    <button type="submit" name="_delete" class="btn btn-danger ">Видалити</button>
                {%  endif %}
            </form>
            </div>
        </div>
    </div>
</div>
{%  endblock content %}